[package]
name = "mx8-proto"
version = "0.0.0"
edition.workspace = true
license.workspace = true

[dependencies]
prost.workspace = true
tonic.workspace = true

[build-dependencies]
tonic-build = "0.11"
protoc-bin-vendored = "3"
